<nav class="navbar bg-success navbar-dark">
  <div class="container justify-content-center flex-column">

    <a class="navbar-brand d-block fs-1 fw-light" href="#">{{ title }}</a>

    <ul class="navbar-nav flex-row fs-5">
      <li class="nav-item px-3">
        <a class="nav-link" href="#">Todos</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="#">Create</a>
      </li>
    </ul>

  </div>
</nav>

<div class="container">
  <app-todo-list></app-todo-list>
</div>
